html{
    font-family: 'Open Sans', sans-serif;
}
:root{
 --primary: #eb6c27;
 --bg: #FFFFFF;
 --text: #3a3a3a;
 --text--gray: #888888;
}



.body__header{
 background-color: var(--bg);
}




.img-nav{
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body__main{
    color: var(--text);
    padding: 0 20px;
}

.main-screen{
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../MediaForBuilding/pageheader-1920w.jpg);
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 150%;
    padding-top: 160px;
    padding-bottom: 20px;
}
.main-screen p{
    color: var(--bg);
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 300;
}

.main-screen h1{
    color: var(--bg);
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 1.7rem;
}

.navbar__logo{
    margin:30px 5px;
}
.body__main header{
    margin-top:50px;
}

.header-nadpis{
    margin:0px;
    font-weight: 700;
    font-size: 1.3em;
}
.header-popis{
    font-weight: 400;
    font-size: 0.83rem;
    padding-top:20px;
    margin:0px;
}

.sluzby{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: auto;
    grid-auto-flow: dense;
}

.sluzby-obsah{
    margin: 0px;
    padding-bottom: 40px;
    font-size: 0.8rem;
}

.img-rsp__border--odd{
    border-radius: 0px 0px 40px 0px;
}

.img-rsp__border--even{
    border-radius: 0px 0px 0px 40px;
}

.img-rsp{
    width: 100%;
    min-height: 134px;
}

.figcaption{
    font-weight: 700;
    font-size:1.1rem;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;

}

.span{
    color: var(--primary);
}
.button{
    color: var(--primary);
    font-weight: 535;
    border-style: dashed;
    border-width: 1px;
    padding: 10px 15px 10px 15px;
    max-width: 50%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.body__header{grid-area: body-header;}
.body__footer{grid-area: body-footer;}
.body__main{grid-area: body-main;}

.duvera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url(../MediaForBuilding/background-CTAblock-4460w.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 200%;
    padding-top: 0px;
    padding-bottom: 20px;

}
.hug{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
}
.hug p{
    color: var(--bg);
    text-align: left;
    font-size: medium;
}

.hug .button{
    left: 0;
    bottom:0;
    color: var(--bg);
    background-color: var(--primary);
    border: none;
}
.reference__galerie{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: auto;
    grid-auto-flow: dense;
}

.reference--fotek{
    text-align: center;
}

.reference-nadpis{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

.reference > p{
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0;
    padding-top:6px;
    padding-bottom: 5px;
}

.button-reference{
    
    max-width: 100%;
    color: var(--bg);
    background-color: var(--primary);
    border: none;   
}
.reference{
    padding-bottom: 18px;
}


.list__onas li::marker{
    color: var(--primary);
    font-size: 1.5em;  
}


.footer{
    background-color: var(--primary);
    color: var(--bg);
    text-align: center;
    padding-top: 66px;
    padding-bottom: 50px;
}
.footer__text{
    margin: 0px;
    margin-bottom: 40px;
    padding: 0px;
}
.footer__heading{
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 0px;
}
.button--footer{
    padding: 20px 50px;
    text-align: center;
    background-color: var(--bg);
    border: none;
    
}



@media (max-width: 768px) {
    .navbar__menu--hidden {
        display: none;
    }
}
/* hamburger menu */
.hamburger-menu {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;
    margin-right: 20px;
}
.hamburger-menu::after {
    content: url(/MediaForBuilding/hamburger.svg);
    
}